{{!-- Citation: CS340 github for node starter app. https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main  --}}


<h1>Expenses</h1>

<div>
  <h3>Browse Expenses</h3>
    {{!-- Create a table --}}
    <table id="expense-table">

      {{!-- Header section --}}
      <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
          <th>Expense ID</th>
          <th>Date</th>
          <th>Total Expense ($)</th>
          <th>Description</th>
          <th>Status</th>
          <th>Reviewer Last Name</th>
          <th>Review ID</th>
          <th>Delete</th>
        </tr>
      </thead>
      
      {{!-- Body section --}}
      <tbody>

        {{!-- For each row, print the following in order --}}
        {{#each data}}
        <tr data-value="{{this.expenseID}}">
          <td>{{this.expenseID}}</td>
          <td>{{moment this.date format="YYYY-MM-DD"}}</td>
          <td>{{this.totalExpense}}</td>
          <td>{{this.description}}</td>
          <td>{{this.expenseStatus}}</td>
          <td>{{this.reviewerNameID}}</td>
          <td>{{this.reviewIDTitle}}</td>
          <td><button onclick="deleteExpense({{this.expenseID}})">Delete</button></td>  
        </tr>
        {{/each}}
          
      </tbody>
    </table>
    <script src="../public/js/delete_expense.js"></script>
    <br>
      
  </div>

    
  <div>
    <h3>Add New Expense</h3>
    <form id="add-expense-form" method="POST" action="/add-expense-form">

      <p> To add a new expense, complete the form and hit submit</p> 
              
      <label for="dateInput">Date:</label>
      <input type="date" id="dateInput" name="dateInput" required><br>
      
      <label for="totalExpenseInput">Total Expense:</label>
      <input type="number" step = "0.01" id="totalExpenseInput" name="totalExpenseInput" required><br><br>
      
      <label for="descriptionInput">Description:</label>
      <input type="text" id="descriptionInput" name="descriptionInput" required><br>
      
      <label for="expenseStatusInput">Status:</label>
      <select id="expenseStatusInput" name="expenseStatusInput">
        <option value=""></option>
        <option value="Pending">Pending</option>
        <option value="Approved">Approved</option>
        <option value="Paid">Paid</option>
        <option value="Rejected">Rejected</option>
      </select> <br>

      <label for="reviewerIDInput"> Reviewer Last Name & ID:</label>
        <select id="reviewerIDInput" name="reviewerIDInput" required>
          <option value="">Select last name & ID:</option>
          {{#each reviewers}}
          <option value="{{this.reviewerID}}">{{this.lastName}}-{{this.reviewerID}}</option>
          {{/each}}
        </select><br>
      
      <label for="reviewIDInput"> Review ID and Title:</label>
      <select id="reviewIDInput" name="reviewIDInput" required>
        <option value="">Select Review ID and Title</option>
        {{#each reviews}}
        <option value"{{this.reviewID}}">{{this.reviewID}}-{{this.reviewTitle}}</option>
        {{/each}}
      </select><br>

        <input type="submit" value="Submit">
      </form>
    </div>