{{!-- Citation: CS340 github for node starter app. https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main  --}}
{{!Full citation in readme}}


<h1>Restaurants</h1>
<div class="description">
<p>Restaurants that have been/will be reviewed. Restaurants may be viewed, added and deleted.</p>
</div>

<div>
    <h3>Browse or Delete Restaurants</h3>
    {{!-- Create a table --}}
    <table id="restaurant-table">

        {{!-- Header section --}}
        <thead>

            {{!-- For just the first row, we print each key of the row object as a header cell so we
            know what each column means when the page renders --}}
            <tr>
                <th>Restaurant ID</th>
                <th>Name</th>
                <th>Street Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zip Code</th>
                <th>Phone Number</th>
                <th>Website</th>
                <th>Price Range</th>
                <th>Delete</th>
            </tr>
        </thead>

        {{!-- Body section --}}
        <tbody>

            {{!-- For each row, print the following in order --}}
            {{#each data}}
            <tr data-value={{this.restaurantID}}>
                <td>{{this.restaurantID}}</td>
                <td>{{this.name}}</td>
                <td>{{this.streetAddress}}</td>
                <td>{{this.city}}</td>
                <td>{{this.state}}</td>
                <td>{{this.zipCode}}</td>
                <td>{{this.phoneNumber}}</td>
                <td>{{this.website}}</td>
                <td>{{this.priceRange}}</td>
                <td><button onclick="deleteRestaurant({{this.restaurantID}})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table> 
    <script src="../public/js/delete_restaurant.js"></script>
    <br>
</div>

<div>
    <h3>Add Restaurant</h3>

    {{!<form id="add-restaurant-form-ajax">}}
    <form id="add-restaurant-form" method="POST" action="/add-restaurant-form">

        <p>To add a new restaurant, complete the form and hit submit.</p>
        <p>Required fields outlined in red.</p>

        <label for="nameInput">Name: </label>
        <input type="text" name="nameInput" id="nameInput" required>

        <label for="streetAddressInput">Street Address: </label>
        <input type="text" name="streetAddressInput" id="streetAddressInput">
        
        <label for="cityInput">City:</label>
        <input type="text" name="cityInput" id="cityInput" required>
        
        <label for="stateInput">State:</label>
        <input type="text" name="stateInput" id="stateInput" required>
        
        <label for="zipCodeInput">Zip Code:</label>
        <p class="form-description">(Required format: 12345)</p>
        <input type="text" id="zipCodeInput" name="zipCodeInput" pattern="[0-9]*" placeholder="12345" required><br>
        
        <label for="phoneNumberInput">Phone Number:</label>
        <p class="form-description">(Required format: 555-555-5555)</p>
        <input type="tel" id="phoneNumberInput" name="phoneNumberInput"  pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="555-555-5555"><br>
        
        <label for="websiteInput">Website:</label>
        <input type="text" name="websiteInput" id="websiteInput" >

        {{!<label for="priceIDInput">Price Range:</label>
        <input type="text" name="priceIDInput" id="priceIDInput" > }}
        
        <label for="priceIDInput">Price Range:</label>
        <select id="priceIDInput" name="priceIDInput" required>
            <option value="">Select a Price Range</option>
            {{#each price_levels}}
            <option value="{{this.priceID}}">{{this.priceRange}}</option>
            {{/each}}
        </select>
        
        <input type="submit">
    </form>

        
</div>
