{{!-- Citation: CS340 github for node starter app. https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main  --}}


<h1>Restaurant Cuisines</h1>

<div>
    <h3>Browse</h3>
    {{!-- Create a table --}}
    <table id="restaurant-cusines-table">

        {{!-- Header section --}}
        <thead>

            {{!-- For just the first row, we print each key of the row object as a header cell so we
            know what each column means when the page renders --}}
            <tr>
                <th>Restaurant Cuisine ID</th>
                <th>Cuisine Name</th>
                <th>Restaurant Name</th>
                <th>Delete</th>
            </tr>
        </thead>

        {{!-- Body section --}}
        <tbody>

            {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
            {{#each data}}
            <tr data-value={{this.restaurant_cuisineID}}>
                <td>{{this.restaurant_cuisineID}}</td>
                <td>{{this.cuisine}}</td>
                <td>{{this.restaurant}}</td>
                <td><button onclick="deleteRestaurantCuisines({{this.restaurant_cuisineID}})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <script src="../public/js/delete_restaurant_cuisines.js"></script>
    <br>
</div>



<div>
    <h3>Add Cuisine to Restaurant</h3>
    <form id="add-restaurant-cuisine-form" action="/add-restaurant-cuisine-form" method="POST">
        <p>To associate a cuisine with a restaurant, complete the form and hit submit.</p>

        <label for="restaurantIDInput">Restaurant Name</label>
        <select id="addRestaurantIDInput" name="restaurantIDInput" required>
            <option value="">Select a Restaurant</option>
            {{#each restaurants}}
            <option value="{{this.restaurantID}}">{{this.name}}</option>
            {{/each}}
        </select>

        <label for="cuisineIDInput">Cuisine Name</label>
        <select id="addCuisineIDInput" name="cuisineIDInput" required>
            <option value="">Select a Cuisine</option>
            {{#each cuisines}}
            <option value="{{this.cuisineID}}">{{this.cuisineDescription}}</option>
            {{/each}}
        </select>
    <br>
    

    <input type="submit">
    </form>
    <br>
</div>


<div>
    <h3>Update Restaurant Cuisine</h3>
    <form>

    <label for="restaurant_CuisineID">Restaurant Cusine ID:</label>
    <select id="updateRestaurant_CuisineID" name="restaurant_CuisineID">
        <option value="">Select Restaurant Cuisine ID</option>
        {{#each data}}
        <option value="{{this.restaurant_cuisineID}}">{{this.restaurant_cuisineID}}</option>
        {{/each}}
    </select>

    <br>
        
    <label for="restaurantIDInput">Restaurant Name</label>
    <select id="updateRestaurantIDInput" name="restaurantIDInput" required>
        <option value="">Select a Restaurant</option>
        {{#each restaurants}}
        <option value="{{this.restaurantID}}">{{this.name}}</option>
        {{/each}}
    </select>
    
    <br>

    <label for="cuisineIDInput">Cuisine Name</label>
    <select id="updateCuisineIDInput" name="cuisineIDInput" required>
        <option value="">Select a Cuisine</option>
        {{#each cuisines}}
        <option value="{{this.cuisineID}}">{{this.cuisineDescription}}</option>
        {{/each}}
    </select>

    <br>

        <button onclick="updateRestaurantCuisines()">Update</button>
    </form>
    <script src="../public/js/update_restaurant_cuisines.js"></script>

</div>