{{!-- Citation: CS340 github for node starter app. https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main  --}}


<h1>Reviews</h1>

  <div>
    <h3>Browse Reviews</h3>
    {{!-- Create a table --}}
    <table id="review-table">

        {{!-- Header section --}}
        <thead>

            {{!-- For just the first row, we print each key of the row object as a header cell so we
            know what each column means when the page renders --}}
            <tr>
                <th>Review ID</th>
                <th>Review Date</th>
                <th>Review Title</th>                
                <th>Review Description</th>
                <th>Rating</th>
                <th>Takes Reservations?</th>
                <th>Delivery?</th>
                <th>Reviewer Last Name + ID</th>
                <th>Restaurant Name</th>
            </tr>
        </thead>

        {{!-- Body section --}}
        <tbody>

            {{!-- For each row, print the following in order --}}
            {{#each data}}
            <tr data-value={{this.reviewID}}>
                <td>{{this.reviewID}}</td>
                <td>{{moment this.reviewDate format="YYYY-MM-DD"}}</td>
                <td>{{this.reviewTitle}}</td>
                <td>{{this.reviewDescription}}</td>
                <td>{{this.reviewerRating}}</td>
                <td>{{this.takesReservation}}</td>
                <td>{{this.delivery}}</td>
                <td>{{this.reviewerNameID}}</td>
                <td>{{this.restaurantName}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table> <br><br>
    <script src="../public/js/delete_review.js"></script> 
  </div>

    <h3>Add New Review</h3>

    <div>

      <form id="add-review-form" method="POST" action="/add-review-form">

        <p>To add a new review, complete the form and hit submit.</p>
        <p>Required fields outlined in red.</p>

        <label for="restaurantIDInput">Restaurant Name</label>
        <select id="restaurantIDInput" name="restaurantIDInput" required>
            <option disabled selected value>Select a Restaurant to Review</option>
            {{#each restaurants}}
            <option value="{{this.restaurantID}}">{{this.name}}</option>
            {{/each}}
        </select>

        <label for="reviewerIDInput">Reviewer Last Name and ID</label>
        <select id="reviewerIDInput" name="reviewerIDInput" required>
            <option disabled selected value>Select a Reviewer</option>
            {{#each reviewers}}
            <option value="{{this.reviewerID}}">{{this.lastName}}-{{this.reviewerID}}</option>
            {{/each}}
        </select>

        <label for="nameInput">Name: </label>
        <input type="text" name="nameInput" id="nameInput" required>

        <label for="reviewDateInput">Review Date:</label>
        <input type="date" id="reviewDateInput" name="reviewDateInput" required><br>
      
        <label for="reviewTitleInput">Review Title:</label>
        <input type="text" id="reviewTitleInput" name="reviewTitleInput" required><br>

        <label for="reviewDescriptionInput">Review:</label>
        <textarea 
          id="reviewDescriptionInput"
          name="reviewDescriptionInput"
          rows="10" cols="35"></textarea><br>

        <label for="reviewerRatingInput">Rating between 1 (lowest) and 5 (highest): </label>
        <input type="number" id="reviewerRatingInput" name="reviewerRatingInput" min="0" max="5" required><br>
      
        <label for="takesReservationInput">Takes Reservations?:</label>
        <input type="radio" id="Yes" name="takesReservationInput" value="Yes">Yes</input>
        <input type="radio" id="No" name="takesReservationInput" value="No" checked>No</input>
        <br>

        <label for="deliveryInput">Offers Delivery?:</label>
        <input type="radio" id="Yes" name="deliveryInput" value="Yes">Yes</input>
        <input type="radio" id="No" name="deliveryInput" value="No" checked>No</input>
        <br>
        
        <input type="submit" value="Submit New Review">
      </form>

    </div>


    <div>
      <h3>Update Review [ STATIC ]</h3>
      <form action="/submit-form" method="post">
          <label for="reviewID">Review ID:</label>
          <input type="text" id="reviewID" name="reviewID" value="3"><br>
        
          <label for="reviewDate">Review Date:</label>
          <input type="date" id="reviewDate" name="reviewDate" value="2022-05-10"><br><br>
        
          <label for="reviewTitle">Review Title:</label>
          <input type="text" id="reviewTitle" name= "reviewTitle" value="Fantastic experience"><br>
        
          <label for="reviewDescription">Review Description:</label>
          <textarea 
          id="reviewDescription"
          name="reviewDescription"
          rows="10" cols="35"
          >Iron Grill Hawaii food truck is a hidden gem in Honolulu. The food is exceptional, and the service is top-notch. From the moment we placed our order, we felt welcomed and well taken care of. I highly recommend this food truck to anyone looking for a delicious and memorable dining experience in Hawaii.
        </textarea><br>
        
          <label for="reviewerRating">Reviewer Rating</label>
          <input type="text" id="reviewerRating" name="reviewerRating" value="5"><br>
        
          <label for="takesReservation">Takes Reservation:</label>
          <input type="text" id="takesReservation" name="takesReservation" value="Yes"><br>
        
          <label for="delivery">Delivery:</label>
          <input type="text" id="delivery" name="delivery" value="No"><br>
           

          <input type="submit" value="Submit">
        </form>
  </div>