{{!-- Citation: CS340 github for node starter app. https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main  --}}


<h1>Reviews</h1>
  {{! BROWSE }}
  <div>
    <h3>Browse Reviews</h3>
    {{!-- Create a table --}}
    <table id="review-table">

        {{!-- Header section --}}
        <thead>

            {{!-- For just the first row, we print each key of the row object as a header cell so we
            know what each column means when the page renders --}}
            <tr>
                <th>Review ID</th>
                <th>Review Date</th>
                <th>Review Title</th>                
                <th>Review Description</th>
                <th>Rating</th>
                <th>Takes Reservations?</th>
                <th>Delivery?</th>
                <th>Reviewer Last Name + ID</th>
                <th>Restaurant Name</th>
                <th>Delete a Review</th>
            </tr>
        </thead>

        {{!-- Body section --}}
        <tbody>

            {{!-- For each row, print the following in order --}}
            {{#each data}}
            <tr data-value={{this.reviewID}}>
                <td>{{this.reviewID}}</td>
                <td>{{moment this.reviewDate format="YYYY-MM-DD"}}</td>
                <td>{{this.reviewTitle}}</td>
                <td>{{this.reviewDescription}}</td>
                <td>{{this.reviewerRating}}</td>
                <td>{{this.takesReservation}}</td>
                <td>{{this.delivery}}</td>
                <td>{{this.reviewerNameID}}</td>
                <td>{{this.restaurantName}}</td>
                <td><button onclick="deleteReview({{this.reviewID}})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table> <br><br>
    <script src="../public/js/delete_review.js"></script> 
  </div>


  {{! ADD NEW }}
  <h3 id="#Add">Add New Review</h3>

  <div>

    <form id="add-review-form" method="POST" action="/add-review-form">

      <p>To add a new review, complete the form and hit submit.</p>
      <p>Required fields outlined in red.</p>

      <label for="restaurantIDInput">Restaurant Name</label>
      <select id="restaurantIDInput" name="restaurantIDInput" required>
          <option disabled selected value>Select a Restaurant to Review</option>
          {{#each restaurants}}
          <option value="{{this.restaurantID}}">{{this.name}}</option>
          {{/each}}
      </select>

      <label for="reviewerIDInput">Reviewer Last Name and ID</label>
      <select id="reviewerIDInput" name="reviewerIDInput" required>
          <option disabled selected value>Select a Reviewer</option>
          {{#each reviewers}}
          <option value="{{this.reviewerID}}">{{this.lastName}}-{{this.reviewerID}}</option>
          {{/each}}
      </select>

      <label for="reviewDateInput">Review Date:</label>
      <input type="date" id="reviewDateInput" name="reviewDateInput" required><br>
    
      <label for="reviewTitleInput">Review Title:</label>
      <input type="text" id="reviewTitleInput" name="reviewTitleInput" required><br>

      <label for="reviewDescriptionInput">Review:</label>
      <textarea 
        id="reviewDescriptionInput"
        name="reviewDescriptionInput"
        rows="10" cols="35"></textarea><br>

      <label for="reviewerRatingInput">Rating between 1 (lowest) and 5 (highest): </label>
      <input type="number" id="reviewerRatingInput" name="reviewerRatingInput" min="0" max="5" required><br>
    
      <label for="takesReservationInput">Takes Reservations?:</label>
      <select id="takesReservationInput" name="takesReservationInput" required>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
        <option value="" selected>Unknown</option>
      </select>
      
      <label for="deliveryInput">Does the restaurant offer delivery?</label>
      <select id="deliveryInput" name="deliveryInput" required>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
        <option value="" selected>Unknown</option>
      </select>


      
      <input type="submit" value="Submit New Review">
    </form>

  </div>
<br>
<br>
  {{! UPDATE }}
  <div>
    <h3 id="#Update">Update Review</h3>
    <form id="update-review-form-ajax">

      <label for="reviewIDInput">Review ID and Title:</label>
      <select id="reviewIDInput" name="reviewIDInput" required>
        <option disabled selected value="test">Select a Review by ID-Title: </option>
        {{#each data}}
        <option value="{{this.reviewID}}">{{this.reviewID}}-{{this.reviewTitle}}</option>
        {{/each}}
      </select> 
      <p></p>   

      <label for="reviewerIDInput">Reviewer Last Name and ID:</label>
      <select id="reviewerID-update" name="reviewerIDInput" required>
          <option disabled selected value>Select or Remove a Reviewer</option>
          {{#each reviewers}}
          <option value="{{this.reviewerID}}">{{this.lastName}}-{{this.reviewerID}}</option>
          {{/each}}
          <option value="NULL">NONE - Remove Reviewer from Review</option>
      </select>       
      
      <label for="reviewerRatingInput">Rating between 1 (lowest) and 5 (highest): </label>
      <input type="number" id="reviewerRating-update" name="reviewerRatingInput" min="0" max="5" required><br>
    
      <label for="takesReservationInput">Takes Reservations?:</label>
      <select id="takesReservation-update" name="takesReservationInput" required>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
        <option value="NULL" selected>Unknown</option>
      </select>

      <label for="deliveryInput">Does the restaurant offer delivery?:</label>
      <select id="deliveryInput-update" name="deliveryInput" required>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
        <option value="NULL" selected>Unknown</option>
      </select>
    
          

        <input type="submit" value="Save Changes">
      </form>
      <script src="../public/js/update_review.js"></script>
  </div>